# Aprendendo data science

## Análise exploratória dos dados de missões espaciais de 1957 até agosto/2022

Sou um fã de astronomia no geral e estou aprendendo ciêcia de dados. Então porque não juntar os dois mundos e aprender coisas legais, né!.
O dataset foi retirado do [MavenAnalytics]('https://www.mavenanalytics.io/data-playground').

In [ ]:
# importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [ ]:
# importando os dados
# corrigindo o encoding dos dados
df_missoes = pd.read_csv('./space_missions.csv', encoding='latin1')

In [ ]:
df_missoes.head()

,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
0,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-10-04,19:28:00,Sputnik 8K71PS,Sputnik-1,Retired,NaN,Success
1,RVSN USSR,"Site 1/5, Baikonur Cosmodrome, Kazakhstan",1957-11-03,02:30:00,Sputnik 8K71PS,Sputnik-2,Retired,NaN,Success
2,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1957-12-06,16:44:00,Vanguard,Vanguard TV3,Retired,NaN,Failure
3,AMBA,"LC-26A, Cape Canaveral AFS, Florida, USA",1958-02-01,03:48:00,Juno I,Explorer 1,Retired,NaN,Success
4,US Navy,"LC-18A, Cape Canaveral AFS, Florida, USA",1958-02-05,07:33:00,Vanguard,Vanguard TV3BU,Retired,NaN,Failure

As colunas de 'Date' e 'Price' não esão no formato correto. Isso deve ser corrigido

In [ ]:
df_missoes['Date'] = pd.to_datetime(df_missoes['Date'])
df_missoes['Price'] = pd.to_numeric(df_missoes['Price'], errors='coerce')
df_missoes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4630 entries, 0 to 4629
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company        4630 non-null   object
 1   Location       4630 non-null   object
 2   Date           4630 non-null   datetime64[ns]
 3   Time           4503 non-null   object
 4   Rocket         4630 non-null   object
 5   Mission        4630 non-null   object
 6   RocketStatus   4630 non-null   object
 7   Price          1250 non-null   float64
 8   MissionStatus  4630 non-null   object
dtypes: datetime64[ns](1), float64(1), object(7)
memory usage: 325.7+ KB

A coluna 'Price' contém dados faltantes. Uma das técnicas da *Análise Exploratória de dados* é a *imputação* que consiste na substituição de valores ausentes seguindo um critério. Aqui iremos substituir os valores ausentes com a média dos valores da coluna toda.

In [ ]:
df_missoes['Price'] = df_missoes['Price'].mean()
df_missoes.isnull().sum()

Company            0
Location           0
Date               0
Time             127
Rocket             0
Mission            0
RocketStatus       0
Price              0
MissionStatus      0
dtype: int64