# Aprendendo data science

## Análise exploratória dos dados de missões espaciais de 1957 até agosto/2022

Sou um fã de astronomia no geral e estou aprendendo ciêcia de dados. Então porque não juntar os dois mundos e aprender coisas legais, né!.
O dataset foi retirado do [MavenAnalytics]('https://www.mavenanalytics.io/data-playground').

In [2]:
# importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
# importando os dados
# corrigindo o encoding dos dados
dados_missoes = pd.read_csv('./space_missions.csv', encoding='latin1')

In [4]:
# shape dos dados
print(f"o dataset tem {dados_missoes.shape[0]} linhas e {dados_missoes.shape[1]} colunas.")

o dataset tem 4630 linhas e 9 colunas.

In [19]:
# Convertendo a coluna 'price' em float
dados_missoes['Date'] = pd.to_datetime(dados_missoes['Date'])

Company                  object
Location                 object
Date             datetime64[ns]
Time                     object
Rocket                   object
Mission                  object
RocketStatus             object
Price                    object
MissionStatus            object
dtype: object