# Aprendendo data science

## Análise exploratória dos dados de missões espaciais de 1957 até agosto/2022

Sou um fã de astronomia no geral e estou aprendendo ciêcia de dados. Então porque não juntar os dois mundos e aprender coisas legais, né!.
O dataset foi retirado do [MavenAnalytics]('https://www.mavenanalytics.io/data-playground').

In [19]:
# importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
# importando os dados
# corrigindo o encoding dos dados
dados_missoes = pd.read_csv('./space_missions.csv', encoding='latin1')

In [21]:
# shape dos dados
print(f"o dataset tem {dados_missoes.shape[0]} linhas e {dados_missoes.shape[1]} colunas.")

o dataset tem 4630 linhas e 9 colunas.

In [22]:
# Descrição dos dados nulos
dados_missoes.isnull().sum()

Company             0
Location            0
Date                0
Time              127
Rocket              0
Mission             0
RocketStatus        0
Price            3365
MissionStatus       0
dtype: int64

In [24]:
dados_missoes.describe()

,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
count,4630,4630,4630,4503,4630,4630,4630,1265,4630
unique,62,158,4180,1300,370,4556,2,65,4
top,RVSN USSR,"Site 31/6, Baikonur Cosmodrome, Kazakhstan",1962-04-26,12:00:00,Cosmos-3M (11K65M),DSP,Retired,450,Success
freq,1777,251,4,52,446,8,3620,136,4162