# Aprendendo data science

## Análise exploratória dos dados de missões espaciais de 1957 até agosto/2022

Sou um fã de astronomia no geral e estou aprendendo ciêcia de dados. Então porque não juntar os dois mundos e aprender coisas legais, né!.
O dataset foi retirado do [MavenAnalytics]('https://www.mavenanalytics.io/data-playground').

In [1]:
# importando as bibliotecas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
# importando os dados
# corrigindo o encoding dos dados
dados_missoes = pd.read_csv('./space_missions.csv', encoding='latin1')

In [3]:
# shape dos dados
print(f"o dataset tem {dados_missoes.shape[0]} linhas e {dados_missoes.shape[1]} colunas.")

o dataset tem 4630 linhas e 9 colunas.

In [9]:
# alterado o tipo da coluna 'Price'
dados_missoes['Price'] = pd.to_numeric(dados_missoes['Price'], errors='coerce')

,Company,Location,Date,Time,Rocket,Mission,RocketStatus,Price,MissionStatus
664,Martin Marietta,"SLC-41, Cape Canaveral AFS, Florida, USA",1968-06-13,14:03:00,Titan IIIC,OPS 9341-9348,Retired,NaN,Success
1829,RVSN USSR,"Site 41/1, Plesetsk Cosmodrome, Russia",1979-10-20,07:03:00,Molniya-M /Block ML,Molniya-1 nâ Â­82,Retired,NaN,Success
2450,RVSN USSR,"Site 32/2, Plesetsk Cosmodrome, Russia",1989-08-28,00:14:00,Tsyklon-3,Cosmos 2037,Retired,NaN,Success
2591,NASA,"LC-39A, Kennedy Space Center, Florida, USA",1991-09-12,23:11:00,Space Shuttle Discovery,STS-48,Retired,450.0,Success
2330,RVSN USSR,"Site 132/1, Plesetsk Cosmodrome, Russia",1987-06-23,07:37:00,Cosmos-3M (11K65M),Cosmos 1861,Retired,NaN,Success
1436,CNES,"ELD, Guiana Space Centre, French Guiana, France",1975-09-27,14:00:00,Diamant BP4,Aura,Retired,NaN,Success